body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

.list-group-item a {
    text-decoration: none;
    color: #000;
}

.list-group-item a:hover {
    text-decoration: underline;
}

.current-song {
    margin-top: 20px;
}
.list-group-item {
    color: black; 
    background-color: rgb(253, 10, 10);
}

