{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mt-4">Playlists</h2>
        <a href="{% url 'create_playlist' %}" class="btn btn-primary mb-3">Create New Playlist</a>
        <div class="list-group">
            {% for playlist in playlists %}
                <a href="{% url 'playlist_detail' playlist.id %}" class="list-group-item list-group-item-action">
                    {{ playlist.name }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
