{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mt-4">Search Songs</h2>
        <form method="GET" action="{% url 'search_songs' %}">
            <div class="input-group mb-3">
                <input type="text" name="query" class="form-control" placeholder="Search by song name, artist, or genre">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
        <ul class="list-group">
            {% for song in songs %}
                <li class="list-group-item">
                    {{ song.name }} - {{ song.artist.username }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
